<div class="container py-5">
  <h3>Create a new list</h3>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder: 'e.g. Drama' %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: 'btn btn-dark'%>
    <%= link_to "Back", lists_path %>
  <% end %>
</div>
