<div class="container py-5">
  <h1><%= @list.name %></h1>

</div>

<%# show movies tbrough bookmarks %>
<div class="movie-description p-5">
<% @list.bookmarks.each do |bookmark| %>
    <h3><strong><%= bookmark.movie.title %></strong></h3>
    <li><strong>Rating</strong>: <%= bookmark.movie.rating %></li>
    <li><strong>Description</strong>: <%= bookmark.movie.overview %></li>
    <li><strong>Comment</strong>: <%= bookmark.comment %></li>

    <% if bookmark.photo.attached? %>
      <%= cl_image_tag bookmark.photo.key, height: 300, width: 400, crop: :fill %>
    <% end %>
    <%= link_to "Delete", bookmark_path(bookmark), method: :delete, data: { confirm: "Are you sure?" } %>
    <br>
    <br>
  <% end %>
</div>

<div class="form p-5">
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: 'btn btn-dark' %>
    <%= link_to "Delete list", list_path(@list), method: :delete, data: { confirm: "Are you sure?" } %>
</div>


<div class="footer p-5">
  <%= link_to "Back", root_path %>
</div>
